$theme-default: #ff4c3b;
$top-menu-color: #f8f8f8;
$heading-color: #222;
$para-color: #777;
$review-star: #ffa200;
$top-menu-text: #999;
$border-color: #dddddd;
$transition: all ease 0.5s;
$lato: 'Lato', sans-serif;