@import '../variable/_variable';
@import '../mixin/mixin';
/*===================================================
                special_products Part Start
=================================================== */
#blog{
    .container{
        .section_heading{
            @include section_heading;
        }
        .blog_items{
            .col-lg-3{
                .items{
                    margin: 0 10px;
                    .image{
                        position: relative;
                        transition:all linear .4s;
                        .img-shad{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: flex;
                            overflow: hidden;
                            .shad{
                                width: 25%;
                                background: #ff4c3b73;
                            }
                            .one{
                                height: 0%;
                                transition: all .2s steps(4);
                            }
                            .two{
                                height: 0%;
                                transition: all .3s steps(4);
                            }
                            .three{
                                height: 0%;
                                transition: all .4s steps(4);
                            }
                            .four{
                                height: 0%;
                                transition: all .5s steps(4);
                            }
                            &:hover .shad.one,
                            &:hover .shad.two,
                            &:hover .shad.three,
                            &:hover .shad.four{
                                height: 100%;
                            } 
                        }
                    }
                    .text{
                        text-align: center;
                        padding: 0 20px;
                        h5{
                            margin: 10px 0 0;
                            font-size: 18px;
                            text-transform: capitalize;
                            color: $theme-default;
                        }
                        a{
                            h3{
                                font-size: 16px;
                                padding: 0 0 10px;
                                text-transform: uppercase;
                                font-weight: 700;
                                line-height: 1.5;
                                letter-spacing: .03em;
                                margin-top: 10px;
                                margin-bottom: 0;
                                transition: all .5s ease;
                                position: relative;
                                &:hover{
                                    color: $theme-default
                                }
                                &::after{
                                    content: "";
                                    width: 75px;
                                    height: 1px;
                                    left: 50%;
                                    bottom: 0;
                                    transform: translate(-50%);
                                    margin-top: 13px;
                                    background: $heading-color;
                                    text-align: center;
                                    opacity: 1;
                                    position: absolute;
                                }
                            }
                        }
                        p{
                            padding: 5px 0 0;
                        }
                    }
                }
            }
        }
    }
}
/*===================================================
                special_products Part Start
=================================================== */
/*===================================================
                special_products Part Dark Mood Start
=================================================== */
.dark #blog .container .section_heading h3 {
    color: #f1f3f5;
}
.dark #blog .container .section_heading h5 {
    color: #f1f3f5;
}
.dark #blog .container .blog_items .col-lg-3 .items .text h5 {
    color: #f1f3f5;
}
.dark #blog .container .blog_items .col-lg-3 .items .text h3 {
    color: #f1f3f5;
}
.dark #blog .container .blog_items .col-lg-3 .items .text h3::after {
    background: #f1f3f5;
}
.dark #blog .container .blog_items .col-lg-3 .items .text p {
    color: #f1f3f5;
}