@import '../variable/_variable';
@import '../mixin/mixin';
/*===================================================
                brand Part Start
=================================================== */
#brand{
    margin: 0 0 70px;
    .container{
        .row{
            .col-lg-3{
               a{
                display: block;
                text-align: center;
                img{
                    filter: grayscale(100%);
                    opacity: .5;
                    transition: .5s ease;
                    margin: 0 auto;
                    &:hover{
                        filter: grayscale(0);
                        opacity: 1;
                        transition: .5s ease;
                    }
                }
               } 
            }
        }
        .brand_slider{
            margin: 0 auto;
        }
    }
}
/*===================================================
                brand Part Start
=================================================== */