@import '../variable/_variable';
@import '../mixin/mixin';
/*===================================================
                Special Offer Part Start
=================================================== */
#special_offer{
    background: url(/images/special_offer.jpg);
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 190px;
    padding-bottom: 190px;
    background-position: center;
    .container{
        .row{
            .col-lg-6{
                h2{
                    font-size: 90px;
                    font-weight: 700;
                    color: $theme-default;
                    text-transform: uppercase;
                }
                h3{
                    @include h1(55px);
                }
                h4{
                    @include h4(24px, uppercase);
                }
            }
        }
    }
}
/*===================================================
                Special Offer Part Start
=================================================== */