@import '../variable/_variable';
@import '../mixin/mixin';
/*===================================================
                special_products Part Start
=================================================== */
#special_products{
    .container{
        .section_heading{
            @include section_heading;
        }
        .special_product_container{
            .filter_menu{
                text-align: center;
                padding: 0 0 50px;
                button{
                    text-decoration: none;
                    border: none;
                    outline: 0;
                    margin: 0 20px;
                    background: transparent;
                    color: $heading-color;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    transition: $transition;
                    &:hover{
                        color: $theme-default;
                    }
                    &:active{
                        color: $theme-default;
                    }
                }
                button.nav-link.active{
                    color:$theme-default;
                }
            }
            .product_top_collection_item{
                display: block;
                margin: 10px 0;
                /* background: red; */
                .image_box{
                    position: relative;
                    overflow: hidden;
                    &:hover{
                        .icons a{
                            transform: translateX(0px);
                          }
                      }
                    .label{
                        width: 30px;
                        height: 30px;
                        font-size: 12px;
                        background: red;
                        border-radius: 50%;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 7px;
                        left: 7px;
                    }
                    .icons{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 10px;
                        width: 32px;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        a{
                            width: 30px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform: translateX(100px);
                            transition: $transition;
                            &:hover{
                                i{
                                    color: $theme-default;
                                }
                            }
                            i{
                                color: $top-menu-text;
                            }
                            &:nth-child(1){
                                transition: all ease 0.3s;
                              }
                            &:nth-child(2){
                                transition: all ease 0.5s;
                              }
                            &:nth-child(3){
                                transition: all ease 0.7s;
                              }
                            &:nth-child(4){
                                transition: all ease 0.9s;
                              }
                          }
                    }
                    .display{
                        img{
                            display: none;
                        }
                        img.active{
                            display: block;
                        }
                    }
                    .thambnail{
                        position: absolute;
                        padding: 5px;
                        left: 0;
                        bottom: 0;
                        z-index: 10;
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            li{
                                width: 50px;
                                border: 1px solid transparent;
                                img {
                                    filter: opacity(30%);
                                }
                            }
                        }
                    }
                }
                .text_box{
                    .stars{
                        i{
                            color: $review-star;
                            font-size: 13px;
                        }
                    }
                    .text{
                        a{}
                        p{
                            line-height: 1;
                            margin-bottom: 3px;
                            padding-top: 0;
                            padding-bottom: 5px;
                            transition: all .5s ease;
                            font-size: 16px;
                            margin-top: 0;
                        }
                        h4{
                            font-size: 18px;
                            color: #222;
                            font-weight: 700;
                            margin-bottom: 0;
                            del{
                                color: #aaa;
                                font-size: 14px;
                            }
                        }
                    }
                    .colors{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 10px;
                        span {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        .green {
                            background: green;
                        }
                        .olive {
                            background: olive;
                        }
                        .navy {
                            background: navy;
                        }
                        .blue {
                            background: blue;
                        }
                        .orange {
                            background: orange;
                        }
                        .maroon {
                            background: maroon;
                        }
                        .gray {
                            background: gray;
                        }
                        .pink {
                            background: pink;
                        }
                        .red {
                            background: red;
                        }
                        .black {
                            background: black;
                        }
                        .yellow {
                            background: yellow;
                        }
                        .white {
                            background: white;
                            border: 1px solid #aaa;
                        }
                        .skyblue {
                            background: skyblue;
                        }
                        // .active{
                        //     border: 1px solid red;
                        // }
                    }
                }
            }
            ul{
                justify-content: center;
                background: transparent;
                color: $heading-color;
                li{
                    text-align: center;
                    padding: 0 0 10px;
                    button {
                        text-decoration: none;
                        border: none;
                        outline: 0;
                        margin: 0 20px;
                        background: transparent;
                        color: $heading-color;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 500;
                        transition: $transition;
                        &:hover{
                            color: $theme-default;
                        }
                    }
                    .active{
                        color: $theme-default;
                    }
                }
            }
        }
    }
}
/*===================================================
                special_products Part Start
=================================================== */
/*===================================================
                special_products Part Dark Mood Start
=================================================== */
.dark #special_products .container .section_heading h3{
    color: #f1f3f5;
}
.dark #special_products .container .section_heading h5{
    color: #f1f3f5;
}
.dark #special_products .container .section_heading p{
    color: #f1f3f5;
}
.dark #special_products .container .special_product_container ul li .active {
    color: #ff4c3b;
}
.dark #special_products .container .special_product_container ul li button {
    color: #f1f3f5;
}
.dark #special_products .container .special_product_container .product_top_collection_item .text_box .text p {
    color: #f1f3f5;
}
.dark #special_products .container .special_product_container .product_top_collection_item .text_box .text h4 {
    font-size: 18px;
    color: #f1f3f5;
    font-weight: 700;
    margin-bottom: 0;
}